.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.content {
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.title {
    width: 30%;
}

.descr {
    width: 70%;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #2F323A;
}