.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    flex-wrap: wrap;
    gap: 16px;
}