.wrapper {
    position: relative;
    width: 572px;
    min-height: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E9EA;
    overflow: hidden;
}

.right {
    width: 294px;
    height: 100%;
    padding: 16px;
    border-left: 1px solid #E8E9EA;
}

.title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    color: #2F323A;
}

.price {
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.currentPrice {
    font-weight: 700;
    font-size: 20px;
    color: #171B24;
}

.discount {
    font-weight: 500;
    font-size: 16px;
    color: #8B8D92;
}

.btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    position: absolute;
    width: 55px;
    height: 30px;
    left: 16px;
    top: 16px;
    background: #FFFFFF;
    border: 2px solid #FBE303;
    font-weight: 500;
    font-size: 15px;
    color: #171B24;

}