.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.top {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}