.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.content {
    width: 1360px;
    height: 232px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 100px;
    background: url(./bg-image.png) center center/cover no-repeat;
}

.info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.link {
    font-weight: 400;
    font-size: 16px;
    color: #454950;
    text-decoration: none;
}