.wrapper {
    position: relative;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 0 15px;
}

.content {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 180px;
    height: 46px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.profile,
.orders,
.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.searchIcon {
    position: absolute;
    right: 30px;
    top: 13px;
    width: 24px;
    height: 24px;
}


.cataloqIcon,
.profileIcon,
.ordersIcon,
.cartIcon {
    width: 24px;
    height: 24px;
}


.modal {
    position: absolute;
    top: 0;
    left: 0;

}

@media screen and (max-width:1024px) {
    .input {
        width: 248px;
    }
}

@media screen and (max-width:850px) {
    .searchIcon {
        display: none;
    }
}

.cart {
    position: relative;
}

.badge {
    position: absolute;
    top: -10px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--yellow);
    color: var(--black);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}