.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 104px;
}

.content {
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}